/*Desarrollado por: Ca & Ce Technologies */
/*Contacto: mc.munoz.rz@gmail.com */
/*21 - Agosto - 2018*/
footer{
	background: #bdbdbd; width: 100%; text-align: center; position: fixed; bottom: 0; color:#fff;font-weight: bold;font-size: 12px
}

 /* para 480px o menos */
@media screen and (max-width:480px) 
{ 
	footer{
	width: 100%;font-size:9px
}

b a{
	font-size: 12px;margin-left: -20px
}
}