/*Desarrollado por: Ca & Ce Technologies */
/*Contacto: mc.munoz.rz@gmail.com */
/*21 - Agosto - 2018*/
.nav li{
	width:180px;
	float:left;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}

.nav li.hm:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.fb:hover{
	border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.gp:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.tw:hover{
	border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.cl:hover{
	border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon{
	background:rgba(255, 255, 255, 0.4);
	padding:14px;
	border-radius:100%;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}

.nav li:hover span{
	padding-top:20px;
}
.hm{
	background:rgba(29, 162, 168, 0.8);margin-left: 100px;height: 180px;text-align: center;color: #fff;
}
.fb{
	/*background:rgba(255, 89, 76, 0.8);margin-left: 100px;height: 180px;text-align: center;color: #fff;*/
	background:rgba(73, 62, 24, 0.4);margin-left: 100px;height: 180px;text-align: center;color: #fff;
}
.gp{
	background:rgba(47, 31, 64, 0.8);margin-left: 100px;height: 180px;text-align: center;color: #fff;
}
.tw{
	background:rgba(254, 162, 14, 0.8);margin-left: 100px;height: 180px;text-align: center;color: #fff;
}
.cl{
	background:rgba(93, 181, 29, 0.8);margin-left: 100px;height: 180px;text-align: center;color: #fff;
}