/*Desarrollado por: Ca & Ce Technologies */
/*Contacto: mc.munoz.rz@gmail.com */
/*21 - Agosto - 2018*/
/* .container{
	margin-top: 50px
} */

thead{
	background: #32383e;color: #fff;font-size: 12px;font-weight: 0;
}
table td{
	font-size: 12px;
}

/* th{
	height: 40px
}
 */
/* table{
	border-collapse: collapse
} */

/* tr{
	border-bottom: 1px solid #e6e6e6;
} */

/* table{
	width: 100%
} */
/* .tablehead{
	border: 1px solid #e6e6e6; border-top-left-radius: 10px;border-top-right-radius: 10px;width: 100%;
} */

/* .tablecuerpo{
	border: 1px solid #e6e6e6;width: 1000px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
} */

h1{
	font-size:36px;
	font-weight:lighter;
	color:#666666;
}


h2{
	font-size:34px;
	font-weight:lighter;
	color:#666666;
}