.fa-pen-to-square{
     color:#0072CD;
}
.fa-square-plus{
    color:#0072CD;
}
.fa-trash-can{
    color:#0072CD;
}

.pagination {
    padding-right: 2rem;
    padding-top: 0rem;
}

#dataTable{
    font-size: 12px;
}

.form-select-sm{
    border-radius: 3px;
    height: 3rem;
}

